<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=s500sqlhml1; Database=usr_mmidia_dev; User Id=usr_mmidia;Password=123;" />
	</connectionStrings>
	<appSettings>
		<add key="ShowSql" value="true" />
	</appSettings>
</configuration>
